/*
TODO:
- mobile optimization
- phone bouncing animation
*/

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  font-weight: 500;
}

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Navbar */

.top-fold {
  overflow: hidden;
  position: relative;
  padding: 2% 5%;
  min-height: 660px;
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  width: 60px;
  margin-right: 24px;
}

.navbar__logo--text {
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  user-select: none;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  /* font-weight: 400; */
}

.nav-link {
  font-size: 1.25rem;
}

/* Landing */

.big-header {
  /* hero + cta */
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
  padding: 0;
}

.iphone-mockup {
  position: relative;
  width: 18vw;
  transform: rotate(25deg);
  padding: 0;
  left: 10%;
  margin-top: 7%;
}

/* Features */

#features {
  position: relative;
  z-index: 2;
  /* bottom: 20vh; */
  padding: 3% 10% 5% 10%;
  margin-top: -6%;
}

.feature-box {
  padding: 5% 4%;
}

.feature-icon {
  font-size: 500%;
  margin-bottom: 1vh;
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.5;
}

.feature-text {
  max-width: 70%;
  margin: auto;
  color: gray;
}

/* Testimonials Carousel */

#testimonials {
  background-color: #ef8172;
}

.testimonial-header {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  max-width: 800px;
  margin: 0 auto;
}

.testimonial__image--wrapper {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-image {
  height: 100%;
}

.carousel-item {
  min-height: 460px;
}

.carousel-wrapper {
  /* min-height: 500px; */
  /* margin:  0; */
  padding: 5% 15%;
}

.carousel-control-container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: -464px;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 1%;
}

.press-image {
  max-height: 2rem;
  margin: 2% 4%;
  filter: brightness(0) invert(1);
}

.press-image--bi {
  max-height: 2.5rem;
}

/* Pricing */

#pricing {
  padding: 1% 7% 4% 7%;
}

.pricing__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.pricing-card {
  /* margin: 0 1vw; */
  padding: 0 5%;
  min-height: 40vh;
  max-width: 75%;
  margin: 24px 16px;
}

.card-header {
  background: transparent;
}

.price-name {
  font-weight: 700;
}

.price__wrapper {
  margin-bottom: 1.5rem;
}

.price-text {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.price__subtext {
  font-style: italic;
}

.pricing-header {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 700;
}



/* —————————————————————————— CALL TO ACTION ————————————————————————————— */

#cta {
  padding: 5% 20% 5% 20%;
}

.button-wrapper {
  margin: 5% auto 0 auto;
}

.big-header.cta {
  max-width: 75%;
}

/* —————————————————————————— FOOTER ————————————————————————————— */

.footer__container {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo--wrapper {
  position: relative;
}

.footer__logo {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.footer__logo--pink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}


.footer__logo--wrapper:hover .footer__logo--black {
  opacity: 0;
}

.footer__logo--wrapper:hover .footer__logo--pink {
  opacity: 1;
}

.social-icon {
  margin: 1rem;
  font-size: 1.5rem;
  transition: color 250ms ease;
}

.social-icon:hover {
  color: #ff4c68;
  cursor: pointer;
}

.footer__copyright {
  margin: 0.5rem 0 0;
}

@media (max-width: 991px) {

  .big-header {
    max-width: 720px;
    margin: 0 auto;
  }

  .iphone-mockup {
    transform: rotate(0deg);
    padding-bottom: 20%;
    left: 0;
    width: 250px;
    margin: 7% auto 0 auto;
    z-index: 1;
  }

  .testimonial-header {
    font-size: 2rem;
  }

  #press {
    padding-bottom: 1rem;
  }

  #cta {
    padding: 5% 5% 5% 5%;
  }

  .big-header.cta {
    max-width: 90%;
  }
}

@media (max-width: 768px) {

  .big-header,
  .pricing-header {
    font-size: 2.5rem;
  }

  .testimonial-header {
    font-size: 1.5rem;
  }

  .pricing-card {
    max-width: 400px;
    width: 100%;
  }

  .price-text {
    font-size: 2.5rem;
  }

  #cta .big-header {
    font-size: 2rem;
  }
}

@media(max-width: 480px) {
  .download__btns {
    flex-direction: column;
    align-items: center;
  }

  .download__btn {
    margin-right: 0 !important;
  }
}
